In [1]:
import os
import gc
import re
import sys
import time
import json
import math
import random
import datetime
import traceback
import pickle
import pandas as pd
import numpy as np

## 将标准库的全款型生成测试环境验证用csv

In [14]:
def process_date(df):
    used_years = datetime.datetime.now().year - df['year']
    if used_years < 0:
        return pd.Series([0, datetime.datetime.now().month])
    return pd.Series([used_years, 3])

def process_mile(df):
    return df['used_years'] * 2

combine_detail = pd.read_csv('../tmp/train/combine_detail.csv')
combine_detail = combine_detail.loc[:, ['detail_model_slug','year']]
combine_detail['used_years'] = np.NaN
combine_detail['month'] = np.NaN
combine_detail['mile'] = np.NaN
combine_detail[['used_years','month']] = combine_detail.apply(process_date, axis=1)
combine_detail.loc[(combine_detail['year'] > datetime.datetime.now().year), 'year'] = datetime.datetime.now().year
combine_detail['mile'] = combine_detail.apply(process_mile, axis=1)
combine_detail.to_csv('../script/verify.csv', index=False)
combine_detail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31455 entries, 0 to 31454
Data columns (total 5 columns):
detail_model_slug    31455 non-null object
year                 31455 non-null int64
used_years           31455 non-null int64
month                31455 non-null int64
mile                 31455 non-null int64
dtypes: int64(4), object(1)
memory usage: 1.2+ MB

In [16]:
verify = pd.read_csv('../script/verify.csv')
verify.head()

  detail_model_slug  year  used_years  month  mile
0    model_25023_cs  2012           6      3    12
1    model_15554_cs  2012           6      3    12
2    model_28145_cs  2013           5      3    10
3    model_26127_cs  2013           5      3    10
4    model_25573_cs  2011           7      3    14