In [1]:
import os
import gc
import re
import sys
import time
import json
import math
import random
import datetime
import traceback
import pickle
import pandas as pd
import numpy as np

## 将标准库的全款型生成测试环境验证用csv

In [3]:
def process_date(df):
    used_years = datetime.datetime.now().year - df['year']
    if used_years < 0:
        return pd.Series([0, datetime.datetime.now().month])
    return pd.Series([used_years, 3])

def process_mile(df):
    return df['used_years'] * 2

combine_detail = pd.read_csv('../tmp/train/combine_detail.csv',low_memory=False)
province_city_map = pd.read_csv('../tmp/train/province_city_map.csv')
cities = list(province_city_map.city.values)
combine_detail = combine_detail.loc[:, ['detail_model_slug','year']]
city = []
for i in range(0, int(len(combine_detail)/len(cities))):
    city.extend(cities)
combine_detail['city'] = pd.Series(city)
combine_detail['city'] = combine_detail['city'].fillna('成都')
combine_detail['used_years'] = np.NaN
combine_detail['month'] = np.NaN
combine_detail['mile'] = np.NaN
combine_detail[['used_years','month']] = combine_detail.apply(process_date, axis=1)
combine_detail.loc[(combine_detail['year'] > datetime.datetime.now().year), 'year'] = datetime.datetime.now().year
combine_detail['mile'] = combine_detail.apply(process_mile, axis=1)
combine_detail.to_csv('../script/verify.csv', index=False)
combine_detail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34582 entries, 0 to 34581
Data columns (total 6 columns):
detail_model_slug    34582 non-null object
year                 34582 non-null int64
city                 34582 non-null object
used_years           34582 non-null int64
month                34582 non-null int64
mile                 34582 non-null int64
dtypes: int64(4), object(2)
memory usage: 1.6+ MB

In [18]:
verify = pd.read_csv('../script/verify.csv')
verify.head()

  detail_model_slug  year city  used_years  month  mile
0    model_25023_cs  2012   北京           6      3    12
1    model_15554_cs  2012  七台河           6      3    12
2    model_28145_cs  2013   伊春           5      3    10
3    model_26127_cs  2013  佳木斯           5      3    10
4    model_25573_cs  2011  双鸭山           7      3    14